<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <title>{% block sayfa_baslik %}
İşçi Sayfası - Ana Sayfa
{% endblock %}</title>
</head>
<body class="text-center" background="/static/yuklemeler/arkaplan.jpg">

<div class="alert alert-success" role="alert">
   <a href="/yonetici_sayfasi"><img src="/static/yuklemeler/is_ilan_logo.png" width="150" height="150"></a>
    <img src="/static/yuklemeler/download.jpg" height="150" width="450">
</div>

<div class="alert alert-success" role="alert">
İşçi Sayfasına Hoş Geldiniz Sayın {{ isci.isci_adi_soyadi.upper() }}<br>
    {% block icerik_baslik %}

    Aşağıdaki Menü Aracılığı ile Yapmak İstediğiniz İşlemi Seçebilirsiniz
{% endblock %}

</div>

<div class="container">
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/isci_sayfasi">Ana Sayfa <span class="sr-only">(current)</span></a>
      </li>
<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          İlan İşlemleri
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/isci_basvurulan_listesi">Başvurulan İlanlar</a>
              <a class="dropdown-item" href="/isci_pasif_listesi">Pasif İlanlar</a>

          </div>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/isci_bilgi_guncelle">Bilgilerimi Güncelle<span class="sr-only"></span></a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="/cikis">Çıkış<span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
</div>
<div class="container">
{% block icerik %}

    <div class="alert alert-success" role="alert">
Başvurabilecek olduğunuz aktif ilanların listesi

</div>

    <table class="table table-sm table-primary">
  <thead class="table-dark">
    <tr>
      <th scope="col">İlan İd</th>
      <th scope="col">İlan Başlığı</th>
      <th scope="col">İlan Tarihi</th>
      <th scope="col">İlan Detayları</th>
    </tr>
  </thead>
  <tbody>
  {% for ilan in ilanlar %}
      <tr>
      <th scope="row">{{ ilan.ilan_id }}</th>
      <td>{{ ilan.ilan_baslik }}</td>
      <td>{{ ilan.ilan_tarihi }}</td>
      <td><a href= "/isci_ilan_detay/{{ ilan.ilan_id}}" >İlan Detayları</a></td>
    </tr>
  {% endfor %}

     </tbody>
</table>
       <div class="alert alert-success" role="alert">
Başvurduğunuz olduğunuz aktif ilanların listesi

</div>

    <table class="table table-sm table-primary">

  <thead class="table-dark">
    <tr>
      <th scope="col">İlan İd</th>
      <th scope="col">İlan Başlığı</th>
      <th scope="col">İlan Tarihi</th>
      <th scope="col">İlan Detayları</th>
    </tr>
  </thead>
  <tbody>
  {% for ilan in pilanlar %}
      <tr>
      <th scope="row">{{ ilan.ilan_id }}</th>
      <td>{{ ilan.ilan_baslik }}</td>
      <td>{{ ilan.ilan_tarihi }}</td>
      <td><a href= "/isci_ilan_detay/{{ ilan.ilan_id}}" >İlan Detayları</a></td>
    </tr>
  {% endfor %}

     </tbody>
</table>

{% endblock %}</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </body>
</html>