{% extends "isci.html" %}

{% block sayfa_baslik %}
İşçi İlan Detayları Sayfası Listeleme Sayfası
{% endblock %}

{% block icerik_baslik %}
İlan Detaylarını Listeleme Sayfasındasınız {{  isci.isci_adi_soyadi.upper() }}<br>
    Aşağıda Seçili İlanın Detaylarını Bulabilirsiniz
{% endblock %}







    {% block icerik %}
        <div class="container">

                <table class="table">
  <thead class="thead-dark ">
    <tr>
      <th scope="col">İlan Alan Bilgisi</th>
      <th scope="col">İlan Alan İçeriği</th>

    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">İlan İd</th>
      <td>{{ ilan.ilan_id}}</td>
    </tr>
                    <tr>
      <th scope="row">İlan Başlık</th>
      <td>{{ ilan.ilan_baslik}}</td>
    </tr>
                    <tr>
      <th scope="row">İlan İçerik</th>
      <td>{{ ilan.ilan_icerik}}</td>
    </tr>
                    <tr>
      <th scope="row">İlan Tarihi</th>
      <td>{{ ilan.ilan_tarihi}}</td>
    </tr>
                                        <tr>
      <th scope="row">İlan İşveren Adı</th>
      <td>{{ ilan.isyeri.isyeri_adi }}
      </td>
    </tr>
                                                            <tr>
      <th scope="row">İlan İşveren Telefon</th>
      <td>{{ ilan.isyeri.isyeri_tel }}
      </td>
    </tr>
                                                            <tr>
      <th scope="row">İlan İşveren Adres</th>
      <td>{{ ilan.isyeri.isyeri_adres }}
      </td>
    </tr>
{% if not basvuru %}
    <tr>
      <th scope="row">İlan Başvur</th>
        <td><a href="/isci_detay/{{ ilan.ilan_id }}/{{ isci.isci_id }}"> Bu İlana Başvur</a>
      </td>
    </tr>
                    {% endif %}




    </table>


</div>

    {% endblock %}


